@media screen and (max-width: 600px) {
  nav {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
  }

  .em_destaque {
    background-size: cover;
    background-position: top;
  }

  .em_destaque .content {
    width: 80%;
  }

  .em_destaque .infos {
    font-size: 0.9rem;
  }

  .movie {
    height: 400px;
    object-fit: contain;
  }
}

@media screen and (min-width: 1920px) {
  .movie {
    max-width: 600px;
    height: 40rem;
  }
}
